<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="csrf-token" content="<%= csrf_meta_tag %>" />
  <title>
    <%= page_title %>
  </title>
  <script defer type="text/javascript" src="liveview.js"></script>
</head>

<body>
  <header>
  </header>
  <div data-phx-main="true" data-phx-session="<%= session %>" data-phx-static="<%= statics %>"
    id="phx-<%= liveViewId %>">
    <main role="main" class="container">
      <p class="alert alert-info" role="alert" phx-click="lv:clear-flash" phx-value-key="info"></p>

      <p class="alert alert-danger" role="alert" phx-click="lv:clear-flash" phx-value-key="error"></p>

      <%- inner_content %>

    </main>
  </div>
</body>

</html>